/* wrap */
.wrap{
    background-color: #b5e2fa;
    height: 100%;
}

/* header */
.header{
    
}
.header-front{
    background-image: url(images/beach1.jpg);
    background-size: cover;
    height: 180px;
    display: flex;
    justify-content: center; 
    align-items : center;
}
.header a{
    text-decoration: none;
    font-size: 50px;
    text-align: center;

}
.header img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.header-back{
    display: flex;
    justify-content: center;
}
.header-back i{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 8px;
}
.header-back input{
    width: 8rem;
    height: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* article */
.article{
    display: flex;
}
.main{
   
}
.aside{
    width: 600px;
    border-left: 2px solid #eee;
}

/* reply */