@charset "UTF-8";

@font-face {
  font-family: "Noto Sans";
  src: url(//t1.daumcdn.net/tistory_admin/static/font/notokr-regular.woff2)
      format("woff2"),
    url(//t1.daumcdn.net/tistory_admin/static/font/notokr-regular.woff)
      format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url(//t1.daumcdn.net/tistory_admin/static/font/notokr-demilight.woff2)
      format("woff2"),
    url(//t1.daumcdn.net/tistory_admin/static/font/notokr-demilight.woff)
      format("woff");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Noto Sans";
  src: url(//t1.daumcdn.net/tistory_admin/static/font/notokr-bold.woff2)
      format("woff2"),
    url(//t1.daumcdn.net/tistory_admin/static/font/notokr-bold.woff)
      format("woff");
  font-style: normal;
  font-weight: bold;
}

/* header */
body {
  margin: 0;
}

#header img {
  position: absolute;
  height: 120px;
  width: 820px;
  z-index: -1;
}
#header h1 {
  position: relative;
  margin-right: 0;
  z-index: 0;
}
#header p {
  position: relative;
  margin-right: 0;
  z-index: 0;
}
